# ESP32-P4 TINY CSI to USB Device UVC example
CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_CACHE_L2_CACHE_256KB=y
CONFIG_CACHE_L2_CACHE_LINE_128B=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240
CONFIG_FREERTOS_HZ=1000

# Logging
CONFIG_LOG_DYNAMIC_LEVEL_CONTROL=y
CONFIG_LOG_TAG_LEVEL_IMPL_CACHE_AND_LINKED_LIST=y

# Camera sensor
CONFIG_CAMERA_SC2336=y
CONFIG_CAMERA_SC2336_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y
CONFIG_CAMERA_SC2336_MIPI_RAW8_1024X600_30FPS=y
CONFIG_CAMERA_SC2336_MIPI_DEFAULT_FMT_RAW8_1024X600_30FPS=y
CONFIG_CAMERA_XCLK_USE_ESP_CLOCK_ROUTER=y

# Video / ISP / hardware JPEG
CONFIG_ESP_VIDEO_ENABLE_ISP_PIPELINE_CONTROLLER=y
CONFIG_ESP_VIDEO_ENABLE_HW_JPEG_ENC_VIDEO_DEVICE=y

# USB Device UVC
CONFIG_TUSB_MANUFACTURER="Wireless-Tag"
CONFIG_TUSB_PRODUCT="Wireless-Tag CSI Camera"
CONFIG_TINYUSB_RHPORT_HS=y
CONFIG_FORMAT_MJPEG_CAM1=y
CONFIG_UVC_MODE_ISOC_CAM1=y
CONFIG_FRAMESIZE_SVGA=y
CONFIG_UVC_CAM1_FRAMESIZE_WIDTH=1024
CONFIG_UVC_CAM1_FRAMESIZE_HEIGT=600
CONFIG_UVC_CAM1_FRAMERATE=30
# CONFIG_UVC_CAM1_MULTI_FRAMESIZE is not set
# CONFIG_UVC_SUPPORT_TWO_CAM is not set

# BSP feature selection
CONFIG_WT_BSP_ENABLE_USB_DEVICE_UVC=y
CONFIG_WT_BSP_ENABLE_RGB=y
CONFIG_WT_BSP_ENABLE_BUTTON=n
CONFIG_WT_BSP_ENABLE_SDMMC=n
CONFIG_WT_BSP_ENABLE_DSI=n
CONFIG_WT_BSP_ENABLE_CSI=y
CONFIG_WT_BSP_ENABLE_TOUCH=n

# Experimental features for ESP32-P4
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
