# Shared BSP configuration; camera/USB settings live in target defaults.
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_WT_BSP_ENABLE_USB_DEVICE_UVC=y
CONFIG_WT_BSP_ENABLE_USB_DEVICE_CDC=n
CONFIG_WT_BSP_ENABLE_BUTTON=n
CONFIG_WT_BSP_ENABLE_SDMMC=n
CONFIG_WT_BSP_ENABLE_DSI=n
CONFIG_WT_BSP_ENABLE_TOUCH=n
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
