orsource "$WT_BSP_BOARD_KCONFIG"

rsource "WT9932C2-TINY/Kconfig.projbuild"
rsource "WT9932C3-TINY/Kconfig.projbuild"
rsource "WT9932C5-TINY/Kconfig.projbuild"
rsource "WT9932C61-TINY/Kconfig.projbuild"
rsource "WT9932P4-TINY/Kconfig.projbuild"
rsource "WT9932P4C61-TINY/Kconfig.projbuild"
