CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_WT_BSP_ENABLE_RGB=n
CONFIG_WT_BSP_ENABLE_BUTTON=n
CONFIG_WT_BSP_ENABLE_SDMMC=n
CONFIG_WT_BSP_ENABLE_DSI=n
CONFIG_WT_BSP_ENABLE_CSI=n
CONFIG_WT_BSP_ENABLE_TOUCH=n
CONFIG_WT_BSP_ENABLE_USB_DEVICE_UVC=n
CONFIG_WT_BSP_ENABLE_USB_DEVICE_CDC=y
CONFIG_TINYUSB_CDC_ENABLED=y
CONFIG_TINYUSB_CDC_COUNT=1
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="Wireless-Tag"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="Wireless-Tag CDC"
