CONFIG_FATFS_VFS_FSTAT_BLKSIZE=4096

CONFIG_WT_BSP_ENABLE_RGB=n
CONFIG_WT_BSP_ENABLE_BUTTON=n
CONFIG_WT_BSP_ENABLE_SDMMC=y
CONFIG_WT_BSP_ENABLE_DSI=n
CONFIG_WT_BSP_ENABLE_CSI=n
CONFIG_WT_BSP_ENABLE_TOUCH=n
