CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_COMPILER_DISABLE_DEFAULT_ERRORS=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y

CONFIG_WT_BSP_ENABLE_RGB=y
CONFIG_WT_BSP_ENABLE_BUTTON=y
CONFIG_WT_BSP_ENABLE_SDMMC=n
CONFIG_WT_BSP_ENABLE_DSI=n
CONFIG_WT_BSP_ENABLE_CSI=n
CONFIG_WT_BSP_ENABLE_TOUCH=n
